name: 'Gitbook-Action'

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout action
      uses: actions/checkout@v2

    # example1
    - name: Gitbook Action
      uses: ZanderZhao/gitbook-action@v1.2.3  # -> or ZanderZhao/gitbook-action@master 
      with:                                                              #      or fork this repo and use YourName/gitbook-action@master
        token: ${{ secrets.PERSONAL_TOKEN }}    # -> remember add this in settings/secrets as https://ZanderZhao.github.io/gitbook-action/
        time_zone: Asia/Shanghai
        source_dir: gitbook-source
        source_edit_time: true
        publish_commit_message: ${{ github.event.head_commit.message }}

    # example2
    - name: Gitbook Action
      uses: ZanderZhao/gitbook-action@master
      with:
        token: ${{ secrets.PERSONAL_TOKEN }}
        time_zone: Asia/Shanghai
        source_repo: GitbookIO/gitbook
        source_branch: master
        source_dir: docs
        publish_dir: gitbook-docs
        publish2_repo: gitbook-org/gitbook 



