name: 'Gitbook-Action'

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout action
      uses: actions/checkout@v1

    # example1
    - name: Gitbook Action
      uses: zanderzhao/gitbook-action@master #v1.2.2
      with:
        token: ${{ secrets.PERSONAL_TOKEN }}
        time_zone: Asia/Shanghai
        source_dir: gitbook-source
        source_edit_time: true
        publish_commit_message: ${{ github.event.head_commit.message }}

    # example2
    - name: Gitbook Action
      uses: zanderzhao/gitbook-action@master #v1.2.2
      with:
        token: ${{ secrets.PERSONAL_TOKEN }}
        time_zone: Asia/Shanghai
        source_repo: GitbookIO/gitbook
        source_branch: master
        source_dir: docs
        publish_dir: gitbook-docs
        publish2_repo: gitbook-org/gitbook 



